$primaryBgColor: rgb(193, 192, 182);
$navBgColor: rgb(145, 138, 130);
$chatBgColor: rgb(235, 244, 245);
$chatBoxBgColor: rgb(241, 233, 215);
$userActivityBgColor: rgb(240, 208, 167);
// $falseBgColor: rgb(240, 112, 103);



$primaryBtn: rgba(63, 43, 243, 0.5);
$primaryBtnText: rgb(8, 3, 41);
$logOutBtn: rgb(231, 148, 152);
$logOutHoverBtn: rgb(175, 70, 76);


$borderColor: rgb(83, 0, 83);
$textColor: rgb(51, 10, 51);

// Game section
$gameLobby: rgb(37, 97, 121);
$gameBoard: rgb(12, 63, 83);
