$primaryBgColor: rgb(193, 192, 182);
$navBgColor: rgb(145, 138, 130);
$chatBgColor: rgb(235, 244, 245);
$chatBoxBgColor: rgb(241, 233, 215);
$userActivityBgColor: rgb(240, 208, 167);
// $falseBgColor: rgb(240, 112, 103);

$primaryBtn: rgba(63, 43, 243, 0.5);
$primaryBtnText: rgb(8, 3, 41);


$borderColor: rgb(83, 0, 83);
$textColor: rgb(51, 10, 51);

// $primaryHeaderColor: rgb(251, 239, 223);
// $secondaryHeaderColor: rgb(63, 59, 55);
// $timerTextColor: rgb(63, 59, 55);

// $btnBgColor: rgb(63, 59, 55);
// $secondaryBtnBgColor: rgb(118, 158, 160);
// $tertiaryBtnBgColor: rgb(251, 239, 223);
// $btnTextColor: rgb(255, 255, 255);
// $secondaryBtnTextColor: rgb(63, 59, 55);

// $activeBtnTextColor: rgb(0, 0, 0);