
body {
	background-color: $primaryBgColor;

	.navContainer {
		background-color: $navBgColor;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		
		.userStatusSection {
			display: flex;
			flex-direction: column;

			.logOutBtn {
				border-radius: 10px;
				border: none;
				cursor: pointer;
				background-color: $logOutBtn;
			}
			.logOutBtn:hover {
				background-color: $logOutHoverBtn;
			}
		}
	}

	.mainContainer {
		display: flex;
		// width: 100vw;
		.gameSection {
			width: 80vw;
			.gameLobbyContainer {
				display: flex;
				justify-content: space-around;
				height: 70%;
				width: 100%;
				background-color: $gameLobby;
				border-radius: 10px;
				margin: 30px;
				.roomArticle {
					display: flex;
					flex-direction: column;
						.joinRoomBtn {
							border-radius: 10px;
							border: none;
							margin: 10px;
						}
					
				}
			}

			.gameBoard {
				margin-top: 30px;
				// width: 100vw;
				height: 80vh;
				background-color: $gameBoard;
				border: none;
				border-radius: 10px;


				.gameLobby {
					display: flex;
					flex-direction: column;
					height: 70%;
					width: 100%;
					background-color: $gameLobby;
					border-radius: 10px;

				}
			}
		}

		.chatContainer {
			display: flex;
			flex-direction: column;
			width: 90%;
			padding: 10px;
			border: none;
			border-radius: 10px;
			margin: 30px;
			background-color: $chatBgColor;


			.activeUserLoggedIn {
				font-weight: 700;
			}

			.chatInputContainer {
				display: flex;
				align-items: center;

				.sendMessageInput {
					margin-top: 20px;
					margin-left: 39px;
					width: 65%;
					margin-right: 15px;
					margin-bottom: 15px;
					border: 1px solid $borderColor;
					border-radius: 5px;
					padding: 5px;
					width: 100%;
				}

				.sendMessageBtn {
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 2px;
					padding-bottom: 2px;
					font-family: 'Roboto', sans-serif;
					letter-spacing: 0.05rem;
					font-weight: bold;
					background-color: $primaryBtn;
					border: none;
					border-radius: 10px;
					color: $chatBgColor;
					cursor: pointer;
					height: 50px;
					margin-left: 10px;
				}
			}

			.chatBox {
				display: flex;
				flex-direction: column;
				overflow: auto;
				height: 70vh;
				background-color: $chatBoxBgColor;

				.userActivity {
					background-color: $userActivityBgColor;
					border-radius: 5px;
					text-align: center;
					width: 50%;
					align-self: center;
				}

				.newMessage {
					border: none;
					border-radius: 5px;
					color: $textColor;
					margin-top: 5px;
					padding: 8px;
					width: fit-content;
					background-color: #ffddff;
				}

				/* Meddelanden från användaren */
				.leftMessage {
					align-self: flex-start;
					background-color: paleturquoise;
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}

				.serverMessage {
					width: 50%;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.267);
					border-radius: 5px;
					align-self: center;
					font-weight: 700;
					font-style: italic;
				}

				/* Meddelanden från andra användare */
				.rightMessage {
					align-self: flex-end;
					background-color: palegreen;
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}
			}
		}
	}
}

// nav {
// }

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1.8rem;
}

li {
	list-style: none;
}

.chosenColorSquare {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

::placeholder {
	color: #530053;
}

.gameboardContainer {

	margin: 10px;
	padding: 15px;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 15px);
	grid-template-rows: repeat(var(--grid-rows), 15px);
	justify-content: center;
	align-items: center;

	gap: 0 0;
}

.cell {

	width: 15px;
	height: 15px;
	border: 1px solid black;
}


/*@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }*/
