nav { 
  padding: 5px;
}

li {
  list-style: none;
}

.chatContainer {
  width: 100%;
  padding: 10px;
  border: 3px solid #ffddff;
  margin-top: 15px;
}

.newMessage {
  border: 2px solid #530053;
  border-radius: 5px;
  color: #530053;
  margin-top: 5px;
  padding: 8px;
  width: fit-content;
  background-color: #ffddff;
}

.sendMessageInput {
  margin-top: 20px;
  margin-left: 39px;
  width: 65%;
  margin-right: 15px;
  margin-bottom: 15px;  
  border: 2px solid #530053;
  border-radius: 5px;
  padding: 5px;
}

.sendMessageBtn {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  font-weight: bold;
  background-color: #ffddff;
  border: 2px solid #530053;
  border-radius: 5px;
  color: #530053;
  cursor: pointer;
}

::placeholder {
  color: #530053;
}

  /*@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }*/
  