body {
	background-color: $primaryBgColor;

	.navContainer {
		background-color: $navBgColor;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		
		.userStatusSection {
			display: flex;
			flex-direction: column;

			.logOutBtn {
				border-radius: 10px;
				border: 2px solid $borderColor;
				cursor: pointer;
				background-color: $logOutBtn;
			}
			.logOutBtn:hover {
				background-color: $logOutHoverBtn;
			}
		}
	}

	.mainContainer {

		.gameSection {
			// margin-top: 30px;
			// width: 100vw;
			// height: 50vh;
			// // background-color: $gameSection;
			// border: 2px solid $borderColor;


			.gameBoard {
				margin-top: 30px;
				width: 100vw;
				height: 30vh;
				background-color: $gameBoard;
				border: 2px solid $borderColor;
				

				.gameLobby {
					display: flex;
					flex-direction: column;
					height: 70%;
					width: 50%;
					background-color: $gameLobby;
					border-radius: 10px;
					margin-left: 170px;

				}
			}
		}

		.chatContainer {
			width: 100%;
			padding: 10px;
			border: 3px solid $borderColor;
			margin-top: 15px;
			background-color: $chatBgColor;

			.activeUserLoggedIn {
				font-weight: 700;
			}

			.chatInputContainer {
				display: flex;
				align-items: center;

				.sendMessageInput {
					margin-top: 20px;
					margin-left: 39px;
					width: 65%;
					margin-right: 15px;
					margin-bottom: 15px;
					border: 2px solid $borderColor;
					border-radius: 5px;
					padding: 5px;
					width: 100%;
				}

				.sendMessageBtn {
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 2px;
					padding-bottom: 2px;
					font-family: 'Roboto', sans-serif;
					letter-spacing: 0.05rem;
					font-weight: bold;
					background-color: $primaryBtn;
					border: 2px solid $borderColor;
					border-radius: 5px;
					color: $primaryBtnText;
					cursor: pointer;
					height: 50px;
					margin-left: 10px;
				}
			}

			.chatBox {
				display: flex;
				flex-direction: column;
				overflow: auto;
				max-height: 500px;
				background-color: $chatBoxBgColor;

				.userActivity {
					background-color: $userActivityBgColor;
					border-radius: 5px;
					text-align: center;
					width: 50%;
					align-self: center;
				}

				.newMessage {
					border: 2px solid $borderColor;
					border-radius: 5px;
					color: $textColor;
					margin-top: 5px;
					padding: 8px;
					width: fit-content;
					background-color: #ffddff;
				}

				/* Meddelanden fr책n anv채ndaren */
				.leftMessage {
					align-self: flex-start;
					background-color: paleturquoise;
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}

				.serverMessage {
					width: 50%;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.267);
					border-radius: 5px;
					align-self: center;
					font-weight: 700;
					font-style: italic;
				}

				/* Meddelanden fr책n andra anv채ndare */
				.rightMessage {
					align-self: flex-end;
					background-color: palegreen;
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}
			}
		}
	}
}

// nav {
// }

li {
	list-style: none;
}

::placeholder {
	color: #530053;
}

/*@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }*/
