
body {
	background-color: $primaryBgColor;
	font-family: 'Roboto', sans-serif;

	.navContainer {
		background-color: $navBgColor;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.userStatusSection {
			display: flex;
			flex-direction: column;

			.logOutBtn {
				border-radius: 8px;
				border: none;
				cursor: pointer;
				margin-bottom: 3px;
				margin-right: 15px;
				background-color: $logOutBtn;
				color: $chatBoxBgColor;
				text-transform: capitalize;
				letter-spacing: 0.01rem;
			}
			.logOutBtn:hover {
				background-color: $logOutHoverBtn;
			}
			.welcomeHeader {
				margin-right: 15px;
				letter-spacing: 0.01rem;
			}
		}
	}

	.mainContainer {
		display: flex;
		// width: 100vw;

		.gameSection {
			width: 80vw;
			margin-left: 15px;

			.resultContainer {
				text-align: center;
				font-size: 1.5rem;
				background-color: $gameLobby;
				color: $chatBoxBgColor;
				display: flex;
				justify-content: space-evenly;
				border-radius: 10px;
				flex-direction: column;
				height: 40vh;
				margin-top: 30px;
			}

			.gameLobbyContainer {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 70vh;
				width: 100%;
				background-color: $gameLobby;
				color: $chatBoxBgColor;
				border-radius: 10px;
				margin-top: 30px;
				.roomArticle {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100px;
					.roomArticleHeader {
						text-align: center;
						text-transform: capitalize;
					}
					.joinRoomBtn {
							border-radius: 8px;
							border: none;
							margin-left: 15px;
							margin-right: 15px;
							text-align: center;
							text-transform: capitalize;
							letter-spacing: 0.03rem;
							padding-top: 10px;
							padding-bottom: 10px;
							cursor: pointer;
							
					}

					.joinRoomBtn:hover {
						background-color: $primaryBtnHover;
						color: $chatBoxBgColor;
						cursor: pointer;
					}
					
				}

			}

			.backToMainBtn {
				letter-spacing: 0.02rem;
				text-transform: capitalize;
				border-radius: 5px;
				border: 0;
			}

			.gameBoard {
				margin-top: 30px;
				// width: 100vw;
				height: 70vh;
				background-color: $gameBoard;
				color: $chatBoxBgColor;
				border: none;
				border-radius: 10px;
				.gameLobbyHeader {
					text-align: center;
					text-transform: uppercase;
					font-size: 2.8rem;
					letter-spacing: 0.03rem;
				}

				.gameLobby {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 300px;
					width: 100%;
					background-color: $gameLobby;
					// border-radius: 10px;

					.playersList {
						// text-align: center;

						.playersInLobby {
							font-size: 1.5rem;
							padding-top: 10px;
							text-transform: capitalize;
						}
					}
					.startGameBtn, .leaveRoomBtn {
						height: 25%;
						text-transform: capitalize;
						letter-spacing: 0.02rem;
						cursor: pointer;
					}

					.startGameBtn:hover {
						background-color: $primaryBtnHover;
						color: $chatBoxBgColor;
						border: none;
						
					}
					.leaveRoomBtn:hover {
						background-color: $logOutBtn;
						color: $chatBoxBgColor;
						border: none;
					}
				}
			}
		}

		.chatContainer {
			display: flex;
			flex-direction: column;
			width: 90%;
			padding: 10px;
			border: none;
			border-radius: 10px;
			margin: 30px 15px;
			background-color: $chatBgColor;


			.chatRoomHeader {
				text-align: center;
				text-transform: capitalize;
				font-size: 1.5rem;
				font-weight: 700;
				letter-spacing: 0.02rem;
			}

			.activeUserLoggedIn {
				font-weight: 700;
			}

			.chatInputContainer {
				display: flex;
				align-items: center;
				margin-top: 20px;

				.sendMessageInput {
					margin: 0;
					width: 150px;
					border-radius: 5px;
					padding: 5px;
					width: 100%;
				}
				.sendMessageInput:focus {
					outline-color: $gameBoard;
				}

				.sendMessageBtn {
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 2px;
					padding-bottom: 2px;
					font-family: 'Roboto', sans-serif;
					letter-spacing: 0.05rem;
					font-weight: bold;
					background-color: $gameBoard;
					border: none;
					border-radius: 8px;
					color: $chatBoxBgColor;
					cursor: pointer;
					margin-left: 10px;
					margin-top: 27px;
				}
			}

			.chatBox {
				display: flex;
				flex-direction: column;
				overflow: auto;
				height: 61vh;
				background-color: $chatBoxBgColor;
				border-radius: 8px;
				padding: 5px;

				.userActivity {
					background-color: $userActivityBgColor;
					border-radius: 5px;
					text-align: center;
					width: 50%;
					align-self: center;
				}

				.newMessage {
					border: none;
					border-radius: 5px;
					color: $textColor;
					margin-top: 5px;
					padding: 8px;
					width: fit-content;
					background-color: #ffddff;
				}

				/* Meddelanden från användaren */
				.leftMessage {
					align-self: flex-start;
					background-color:rgb(204, 244, 244);
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}

				.serverMessage {
					width: 70%;
					text-align: center;
					background-color: $gameLobby;
					color: $chatBoxBgColor;
					border-radius: 5px;
					align-self: center;
					font-weight: 400;
					font-style: italic;
					letter-spacing: 0.02rem;
				}

				/* Meddelanden från andra användare */
				.rightMessage {
					align-self: flex-end;
					background-color: rgb(213, 253, 213);
					margin-bottom: 5px;
					padding: 5px 10px;
					border-radius: 5px;
				}
			}
		}
	}
}

.loginContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;


	.loginPageHeader {
		letter-spacing: 0.03rem;
		margin-bottom: 10px;
		margin-top: 50px;
		font-size: 1.5rem;

		
	}
	
	.userNameInput:focus {
		outline-color: $gameBoard;
		

	}

	.userNameInput {
		margin-bottom: 15px;
		border-radius: 8px;
		border: none;
		width: 203px;
		padding: 0.5rem 0.5rem;
	}

	.loginBtn {
		width: 203px;
		border-radius: 8px;
		border: none;
		letter-spacing: 0.03rem;
		background-color: $gameBoard;
		color: $chatBoxBgColor;
		cursor: pointer;
		padding: 0.5rem 0;
	}

	.loginBtn:hover {
		background-color: $gameLobby;
	}
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 2rem;
	margin-left: 25px;
}

li {
	list-style: none;
}

.chosenColorSquare {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 50%;
	border: none;
	margin-left: 1rem;	
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

::placeholder {
	color: $gameBoard;
}

.gameboardContainer, .hintContainer {

	margin: 10px;
	padding: 15px;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 15px);
	grid-template-rows: repeat(var(--grid-rows), 15px);
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	gap: 1px 1px;
}

.gameboardContainer {
	position: relative;
	.hintContainer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: calc(100% - 50px);
		height: 100%; 
	}
}

.endGameBtn {
	margin-left: 10px;
	border-radius: 8px;
	border: none;
	padding: 10px 15px;
	background-color: $logOutBtn;
	color: $chatBoxBgColor;
	letter-spacing: 0.02rem;
	text-transform: capitalize;
	cursor: pointer;
	
}

.hintBtn {

	margin-left: 10px;
	border-radius: 8px;
	border: none;
	padding: 10px 15px;
	background-color: $primaryBtnHover;
	color: $chatBoxBgColor;
	cursor: pointer;
	margin-top: 8px;
	letter-spacing: 0.02rem;
	text-transform: capitalize;
	

}

.cell {

	width: 15px;
	height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.432);
}


/*@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }*/
